:root {
  --main-bg-color: #fff;
  --sub-bg-color: #010101;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #b3b3b3;
  --second-brand-color: #e9020a;
  --third-brand-color: #1a1a1a;

  --main-font: 'Poppins';
  --title-font: 'Poppins Bold';
  --main-title-font: 'Poppins Black';

  font-size: 62.5%;
}
